gsrc/wsi/remote/gw/webservice/cc/cc900/PCClaimSearchIntegrationAPI.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:gwsoap="http://guidewire.com/ws/soapheaders" xmlns:gwwsdl="http://guidewire.com/pl/wsdl" xmlns:pogo="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/pcintegration/pcentities/PCClaimSearchCriteria" xmlns:pogo2="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/pcintegration/pcentities/PCClaim" xmlns:pogo3="http://guidewire.com/cc/typekey" xmlns:pogo4="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/pcintegration/pcentities/PCClaimDetail" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/pcintegration/PCClaimSearchIntegrationAPI" name="PCClaimSearchIntegrationAPI" targetNamespace="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/pcintegration/PCClaimSearchIntegrationAPI">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/pcintegration/PCClaimSearchIntegrationAPI">
      <xs:import namespace="http://guidewire.com/ws/soapheaders" schemaLocation="soapheaders.xsd"/>
      <xs:import namespace="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/pcintegration/pcentities/PCClaimDetail"/>
      <xs:import namespace="http://guidewire.com/cc/typekey"/>
      <xs:import namespace="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/pcintegration/pcentities/PCClaim"/>
      <xs:import namespace="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/pcintegration/pcentities/PCClaimSearchCriteria"/>
      <!-- searchForClaims(PCClaimSearchCriteria) : PCClaim[] -->
      <xs:element name="searchForClaims">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="criteria" type="pogo:PCClaimSearchCriteria"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="searchForClaimsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:gw="http://guidewire.com/xsd" gw:viewas="array" minOccurs="0" name="return">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="Entry" nillable="true" type="pogo2:PCClaim"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DataConversionException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="SOAPException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="WsiAuthenticationException">
        <xs:complexType/>
      </xs:element>
      <!-- searchForClaimsMultiCriteria(PCClaimSearchCriteria[]) : PCClaim[] -->
      <xs:element name="searchForClaimsMultiCriteria">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:gw="http://guidewire.com/xsd" gw:viewas="array" minOccurs="0" name="criteria">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="Entry" nillable="true" type="pogo:PCClaimSearchCriteria"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="searchForClaimsMultiCriteriaResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:gw="http://guidewire.com/xsd" gw:viewas="array" minOccurs="0" name="return">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="Entry" nillable="true" type="pogo2:PCClaim"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- getNumberOfClaims(PCClaimSearchCriteria) : Integer -->
      <xs:element name="getNumberOfClaims">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="criteria" type="pogo:PCClaimSearchCriteria"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getNumberOfClaimsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:int"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- getNumberOfClaimsMultiCriteria(PCClaimSearchCriteria[]) : Integer -->
      <xs:element name="getNumberOfClaimsMultiCriteria">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:gw="http://guidewire.com/xsd" gw:viewas="array" minOccurs="0" name="criteria">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="Entry" nillable="true" type="pogo:PCClaimSearchCriteria"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getNumberOfClaimsMultiCriteriaResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:int"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- getClaimByClaimNumber(String) : PCClaimDetail -->
      <xs:element name="getClaimByClaimNumber">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="claimNumber" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getClaimByClaimNumberResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="pogo4:PCClaimDetail"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- giveUserClaimViewPermission(String, String) -->
      <xs:element name="giveUserClaimViewPermission">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="claimPublicID" type="xs:string"/>
            <xs:element minOccurs="0" name="userName" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="giveUserClaimViewPermissionResponse">
        <xs:complexType/>
      </xs:element>
    </xs:schema>
    <xs:schema xmlns:gw="http://guidewire.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/pcintegration/pcentities/PCClaimSearchCriteria">
      <xs:import namespace="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/pcintegration/pcentities/PCClaimDetail"/>
      <xs:import namespace="http://guidewire.com/cc/typekey"/>
      <xs:import namespace="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/pcintegration/pcentities/PCClaim"/>
      <xs:complexType name="PCClaimSearchCriteria">
        <xs:sequence>
          <xs:element gw:type="java.util.Date" minOccurs="0" name="BeginDate" type="xs:dateTime"/>
          <xs:element gw:type="java.util.Date" minOccurs="0" name="EndDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="Lob" type="xs:string"/>
          <xs:element gw:viewas="array" minOccurs="0" name="PolicyNumbers">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="Entry" nillable="true" type="xs:string"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="Status" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:gw="http://guidewire.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/pcintegration/pcentities/PCClaim">
      <xs:import namespace="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/pcintegration/pcentities/PCClaimDetail"/>
      <xs:import namespace="http://guidewire.com/cc/typekey"/>
      <xs:import namespace="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/pcintegration/pcentities/PCClaimSearchCriteria"/>
      <xs:complexType name="PCClaim">
        <xs:sequence>
          <xs:element minOccurs="0" name="ClaimNumber" type="xs:string"/>
          <xs:element minOccurs="0" name="ClaimSecurityType" type="xs:string"/>
          <xs:element minOccurs="0" name="FraudIndicator" type="xs:boolean"/>
          <xs:element minOccurs="0" name="LargeLossIndicator" type="xs:boolean"/>
          <xs:element minOccurs="0" name="LitigationIndicator" type="xs:boolean"/>
          <xs:element gw:type="java.util.Date" minOccurs="0" name="LossDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="PolicyNumber" type="xs:string"/>
          <xs:element minOccurs="0" name="PolicyTypeName" type="xs:string"/>
          <xs:element minOccurs="0" name="RemainingReserves" type="xs:decimal"/>
          <xs:element minOccurs="0" name="RemainingReservesCurrency" type="pogo3:Currency"/>
          <xs:element minOccurs="0" name="Status" type="xs:string"/>
          <xs:element minOccurs="0" name="TotalIncurred" type="xs:decimal"/>
          <xs:element minOccurs="0" name="TotalIncurredCurrency" type="pogo3:Currency"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://guidewire.com/cc/typekey">
      <xs:import namespace="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/pcintegration/pcentities/PCClaimDetail"/>
      <xs:import namespace="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/pcintegration/pcentities/PCClaim"/>
      <xs:import namespace="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/pcintegration/pcentities/PCClaimSearchCriteria"/>
      <xs:simpleType name="Currency">
        <xs:restriction base="xs:string">
          <xs:enumeration value="usd"/>
          <xs:enumeration value="eur"/>
          <xs:enumeration value="gbp"/>
          <xs:enumeration value="cad"/>
          <xs:enumeration value="aud"/>
          <xs:enumeration value="rub"/>
          <xs:enumeration value="jpy"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/pcintegration/pcentities/PCClaimDetail">
      <xs:import namespace="http://guidewire.com/cc/typekey"/>
      <xs:import namespace="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/pcintegration/pcentities/PCClaim"/>
      <xs:import namespace="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/pcintegration/pcentities/PCClaimSearchCriteria"/>
      <xs:complexType name="PCClaimDetail">
        <xs:sequence>
          <xs:element minOccurs="0" name="ClaimInfoPublicID" type="xs:string"/>
          <xs:element minOccurs="0" name="ClaimPublicID" type="xs:string"/>
          <xs:element minOccurs="0" name="ClaimSecurityType" type="xs:string"/>
          <xs:element minOccurs="0" name="Description" type="xs:string"/>
          <xs:element minOccurs="0" name="Injury" type="xs:boolean"/>
          <xs:element minOccurs="0" name="Litigation" type="xs:boolean"/>
          <xs:element minOccurs="0" name="LossCause" type="xs:string"/>
          <xs:element minOccurs="0" name="Recoveries" type="xs:decimal"/>
          <xs:element minOccurs="0" name="RecoveriesCurrency" type="pogo3:Currency"/>
          <xs:element minOccurs="0" name="RemainingReserves" type="xs:decimal"/>
          <xs:element minOccurs="0" name="RemainingReservesCurrency" type="pogo3:Currency"/>
          <xs:element minOccurs="0" name="TotalPaid" type="xs:decimal"/>
          <xs:element minOccurs="0" name="TotalPaidCurrency" type="pogo3:Currency"/>
          <xs:element minOccurs="0" name="pcClaim" type="pogo2:PCClaim"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:portType name="PCClaimSearchIntegrationAPIPortType">
    <wsdl:operation name="searchForClaims">
      <wsdl:input message="tns:searchForClaims" name="searchForClaims"/>
      <wsdl:output message="tns:searchForClaimsResponse" name="searchForClaimsResponse"/>
      <!-- If any of the required fields in PCClaimSearchCriteria is null or the end date is before the begin date -->
      <wsdl:fault message="tns:DataConversionException" name="DataConversionException"/>
      <!--  -->
      <wsdl:fault message="tns:SOAPException" name="SOAPException"/>
      <wsdl:fault message="tns:WsiAuthenticationException" name="WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="searchForClaimsMultiCriteria">
      <wsdl:input message="tns:searchForClaimsMultiCriteria" name="searchForClaimsMultiCriteria"/>
      <wsdl:output message="tns:searchForClaimsMultiCriteriaResponse" name="searchForClaimsMultiCriteriaResponse"/>
      <!-- If any of the required fields in PCClaimSearchCriteria is null or the end date is before the begin date -->
      <wsdl:fault message="tns:DataConversionException" name="DataConversionException"/>
      <!--  -->
      <wsdl:fault message="tns:SOAPException" name="SOAPException"/>
      <wsdl:fault message="tns:WsiAuthenticationException" name="WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="getNumberOfClaims">
      <wsdl:input message="tns:getNumberOfClaims" name="getNumberOfClaims"/>
      <wsdl:output message="tns:getNumberOfClaimsResponse" name="getNumberOfClaimsResponse"/>
      <!-- If any of the required fields in PCClaimSearchCriteria is null or the end date is before the begin date -->
      <wsdl:fault message="tns:DataConversionException" name="DataConversionException"/>
      <!--  -->
      <wsdl:fault message="tns:SOAPException" name="SOAPException"/>
      <wsdl:fault message="tns:WsiAuthenticationException" name="WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="getNumberOfClaimsMultiCriteria">
      <wsdl:input message="tns:getNumberOfClaimsMultiCriteria" name="getNumberOfClaimsMultiCriteria"/>
      <wsdl:output message="tns:getNumberOfClaimsMultiCriteriaResponse" name="getNumberOfClaimsMultiCriteriaResponse"/>
      <!-- If any of the required fields in PCClaimSearchCriteria is null or the end date is before the begin date -->
      <wsdl:fault message="tns:DataConversionException" name="DataConversionException"/>
      <!--  -->
      <wsdl:fault message="tns:SOAPException" name="SOAPException"/>
      <wsdl:fault message="tns:WsiAuthenticationException" name="WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="getClaimByClaimNumber">
      <wsdl:input message="tns:getClaimByClaimNumber" name="getClaimByClaimNumber"/>
      <wsdl:output message="tns:getClaimByClaimNumberResponse" name="getClaimByClaimNumberResponse"/>
      <!-- If any of the required fields in PCClaimSearchCriteria is null -->
      <wsdl:fault message="tns:DataConversionException" name="DataConversionException"/>
      <!--  -->
      <wsdl:fault message="tns:SOAPException" name="SOAPException"/>
      <wsdl:fault message="tns:WsiAuthenticationException" name="WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="giveUserClaimViewPermission">
      <wsdl:input message="tns:giveUserClaimViewPermission" name="giveUserClaimViewPermission"/>
      <wsdl:output message="tns:giveUserClaimViewPermissionResponse" name="giveUserClaimViewPermissionResponse"/>
      <!-- If either claimPublicID or userName is null -->
      <wsdl:fault message="tns:DataConversionException" name="DataConversionException"/>
      <!--  -->
      <wsdl:fault message="tns:SOAPException" name="SOAPException"/>
      <wsdl:fault message="tns:WsiAuthenticationException" name="WsiAuthenticationException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PCClaimSearchIntegrationAPISoap12Binding" type="tns:PCClaimSearchIntegrationAPIPortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="searchForClaims">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="searchForClaims">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="searchForClaimsResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataConversionException">
        <soap12:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="searchForClaimsMultiCriteria">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="searchForClaimsMultiCriteria">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="searchForClaimsMultiCriteriaResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataConversionException">
        <soap12:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getNumberOfClaims">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="getNumberOfClaims">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getNumberOfClaimsResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataConversionException">
        <soap12:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getNumberOfClaimsMultiCriteria">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="getNumberOfClaimsMultiCriteria">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getNumberOfClaimsMultiCriteriaResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataConversionException">
        <soap12:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getClaimByClaimNumber">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="getClaimByClaimNumber">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getClaimByClaimNumberResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataConversionException">
        <soap12:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="giveUserClaimViewPermission">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="giveUserClaimViewPermission">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="giveUserClaimViewPermissionResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataConversionException">
        <soap12:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PCClaimSearchIntegrationAPISoap11Binding" type="tns:PCClaimSearchIntegrationAPIPortType">
    <soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="searchForClaims">
      <soap11:operation style="document"/>
      <wsdl:input name="searchForClaims">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="searchForClaimsResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataConversionException">
        <soap11:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="searchForClaimsMultiCriteria">
      <soap11:operation style="document"/>
      <wsdl:input name="searchForClaimsMultiCriteria">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="searchForClaimsMultiCriteriaResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataConversionException">
        <soap11:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getNumberOfClaims">
      <soap11:operation style="document"/>
      <wsdl:input name="getNumberOfClaims">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getNumberOfClaimsResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataConversionException">
        <soap11:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getNumberOfClaimsMultiCriteria">
      <soap11:operation style="document"/>
      <wsdl:input name="getNumberOfClaimsMultiCriteria">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getNumberOfClaimsMultiCriteriaResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataConversionException">
        <soap11:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getClaimByClaimNumber">
      <soap11:operation style="document"/>
      <wsdl:input name="getClaimByClaimNumber">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getClaimByClaimNumberResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataConversionException">
        <soap11:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="giveUserClaimViewPermission">
      <soap11:operation style="document"/>
      <wsdl:input name="giveUserClaimViewPermission">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="giveUserClaimViewPermissionResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataConversionException">
        <soap11:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PCClaimSearchIntegrationAPI">
    <wsdl:port binding="tns:PCClaimSearchIntegrationAPISoap12Binding" name="PCClaimSearchIntegrationAPISoap12Port">
      <soap12:address location="http://localhost:8080/cc/ws/gw/webservice/cc/cc900/pcintegration/PCClaimSearchIntegrationAPI"/>
      <gwwsdl:address location="${cc}/ws/gw/webservice/cc/cc900/pcintegration/PCClaimSearchIntegrationAPI"/>
    </wsdl:port>
    <wsdl:port binding="tns:PCClaimSearchIntegrationAPISoap11Binding" name="PCClaimSearchIntegrationAPISoap11Port">
      <soap11:address location="http://localhost:8080/cc/ws/gw/webservice/cc/cc900/pcintegration/PCClaimSearchIntegrationAPI/soap11"/>
      <gwwsdl:address location="${cc}/ws/gw/webservice/cc/cc900/pcintegration/PCClaimSearchIntegrationAPI/soap11"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:message name="searchForClaims">
    <wsdl:part element="tns:searchForClaims" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="searchForClaimsResponse">
    <wsdl:part element="tns:searchForClaimsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="DataConversionException">
    <wsdl:part element="tns:DataConversionException" name="DataConversionException"/>
  </wsdl:message>
  <wsdl:message name="SOAPException">
    <wsdl:part element="tns:SOAPException" name="SOAPException"/>
  </wsdl:message>
  <wsdl:message name="WsiAuthenticationException">
    <wsdl:part element="tns:WsiAuthenticationException" name="WsiAuthenticationException"/>
  </wsdl:message>
  <wsdl:message name="searchForClaimsMultiCriteria">
    <wsdl:part element="tns:searchForClaimsMultiCriteria" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="searchForClaimsMultiCriteriaResponse">
    <wsdl:part element="tns:searchForClaimsMultiCriteriaResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getNumberOfClaims">
    <wsdl:part element="tns:getNumberOfClaims" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getNumberOfClaimsResponse">
    <wsdl:part element="tns:getNumberOfClaimsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getNumberOfClaimsMultiCriteria">
    <wsdl:part element="tns:getNumberOfClaimsMultiCriteria" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getNumberOfClaimsMultiCriteriaResponse">
    <wsdl:part element="tns:getNumberOfClaimsMultiCriteriaResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getClaimByClaimNumber">
    <wsdl:part element="tns:getClaimByClaimNumber" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getClaimByClaimNumberResponse">
    <wsdl:part element="tns:getClaimByClaimNumberResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="giveUserClaimViewPermission">
    <wsdl:part element="tns:giveUserClaimViewPermission" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="giveUserClaimViewPermissionResponse">
    <wsdl:part element="tns:giveUserClaimViewPermissionResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="gw-authentication">
    <wsdl:part element="gwsoap:authentication" name="gw-authentication"/>
  </wsdl:message>
  <wsdl:message name="gw-locale">
    <wsdl:part element="gwsoap:locale" name="gw-locale"/>
  </wsdl:message>
</wsdl:definitions>