generated/wsi/remote/gw/webservice/bc/bc900/PaymentInstrumentAPI.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:gwsoap="http://guidewire.com/ws/soapheaders" xmlns:gwwsdl="http://guidewire.com/pl/wsdl" xmlns:pogo="http://guidewire.com/bc/ws/gw/webservice/bc/bc900/PaymentInstrumentRecord" xmlns:pogo2="http://guidewire.com/bc/typekey" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://guidewire.com/bc/ws/gw/webservice/bc/bc900/PaymentInstrumentAPI" name="PaymentInstrumentAPI" targetNamespace="http://guidewire.com/bc/ws/gw/webservice/bc/bc900/PaymentInstrumentAPI">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://guidewire.com/bc/ws/gw/webservice/bc/bc900/PaymentInstrumentAPI">
      <xs:import namespace="http://guidewire.com/ws/soapheaders" schemaLocation="soapheaders.xsd"/>
      <xs:import namespace="http://guidewire.com/bc/typekey"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/bc/bc900/PaymentInstrumentRecord"/>
      <!-- getPaymentInstrumentsForAccount(String) : PaymentInstrumentRecord[] -->
      <xs:element name="getPaymentInstrumentsForAccount">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="accountNumber" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getPaymentInstrumentsForAccountResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:gw="http://guidewire.com/xsd" gw:viewas="array" minOccurs="0" name="return">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="Entry" nillable="true" type="pogo:PaymentInstrumentRecord"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SOAPServerException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="DataConversionException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="BadIdentifierException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="WsiAuthenticationException">
        <xs:complexType/>
      </xs:element>
      <!-- createPaymentInstrumentOnAccount(String, PaymentInstrumentRecord) : PaymentInstrumentRecord -->
      <xs:element name="createPaymentInstrumentOnAccount">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="accountNumber" type="xs:string"/>
            <xs:element minOccurs="0" name="paymentInstrumentRecord" type="pogo:PaymentInstrumentRecord"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="createPaymentInstrumentOnAccountResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="pogo:PaymentInstrumentRecord"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- getPaymentInstrumentsForProducer(String) : PaymentInstrumentRecord[] -->
      <xs:element name="getPaymentInstrumentsForProducer">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="producerID" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getPaymentInstrumentsForProducerResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:gw="http://guidewire.com/xsd" gw:viewas="array" minOccurs="0" name="return">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="Entry" nillable="true" type="pogo:PaymentInstrumentRecord"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- createPaymentInstrumentOnProducer(String, PaymentInstrumentRecord) : PaymentInstrumentRecord -->
      <xs:element name="createPaymentInstrumentOnProducer">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="producerID" type="xs:string"/>
            <xs:element minOccurs="0" name="paymentInstrumentRecord" type="pogo:PaymentInstrumentRecord"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="createPaymentInstrumentOnProducerResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="pogo:PaymentInstrumentRecord"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://guidewire.com/bc/ws/gw/webservice/bc/bc900/PaymentInstrumentRecord">
      <xs:import namespace="http://guidewire.com/bc/typekey"/>
      <xs:complexType name="PaymentInstrumentRecord">
        <xs:sequence>
          <xs:element minOccurs="0" name="Detail" type="xs:string"/>
          <xs:element minOccurs="0" name="DisplayName" type="xs:string"/>
          <xs:element minOccurs="0" name="OneTime" type="xs:boolean"/>
          <xs:element minOccurs="0" name="PaymentMethod" type="pogo2:PaymentMethod"/>
          <xs:element minOccurs="0" name="PublicID" type="xs:string"/>
          <xs:element minOccurs="0" name="Token" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://guidewire.com/bc/typekey">
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/bc/bc900/PaymentInstrumentRecord"/>
      <xs:simpleType name="PaymentMethod">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ach"/>
          <xs:enumeration value="cash"/>
          <xs:enumeration value="check"/>
          <xs:enumeration value="creditcard"/>
          <xs:enumeration value="misc"/>
          <xs:enumeration value="responsive"/>
          <xs:enumeration value="accountunapplied"/>
          <xs:enumeration value="producerunapplied"/>
          <xs:enumeration value="wire"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:portType name="PaymentInstrumentAPIPortType">
    <wsdl:operation name="getPaymentInstrumentsForAccount">
      <wsdl:input message="tns:getPaymentInstrumentsForAccount" name="getPaymentInstrumentsForAccount"/>
      <wsdl:output message="tns:getPaymentInstrumentsForAccountResponse" name="getPaymentInstrumentsForAccountResponse"/>
      <!-- If communication error or any other SOAP problem occurs. -->
      <wsdl:fault message="tns:SOAPServerException" name="SOAPServerException"/>
      <!-- If the accountNumber is null. -->
      <wsdl:fault message="tns:DataConversionException" name="DataConversionException"/>
      <!-- If there are no Accounts with the given accountNumber. -->
      <wsdl:fault message="tns:BadIdentifierException" name="BadIdentifierException"/>
      <wsdl:fault message="tns:WsiAuthenticationException" name="WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="createPaymentInstrumentOnAccount">
      <wsdl:input message="tns:createPaymentInstrumentOnAccount" name="createPaymentInstrumentOnAccount"/>
      <wsdl:output message="tns:createPaymentInstrumentOnAccountResponse" name="createPaymentInstrumentOnAccountResponse"/>
      <!-- If communication error or any other SOAP problem occurs. -->
      <wsdl:fault message="tns:SOAPServerException" name="SOAPServerException"/>
      <!-- If there are no Accounts with the given accountNumber. -->
      <wsdl:fault message="tns:BadIdentifierException" name="BadIdentifierException"/>
      <!-- If the accountNumber is null. -->
      <wsdl:fault message="tns:DataConversionException" name="DataConversionException"/>
      <!-- If paymentInstrumentRecord.PublicId is not null (The PaymentInstrument already exists in the system) -->
      <wsdl:fault message="tns:DataConversionException" name="DataConversionException"/>
      <!-- If paymentInstrumentRecord.OneTime is true -->
      <wsdl:fault message="tns:DataConversionException" name="DataConversionException"/>
      <wsdl:fault message="tns:WsiAuthenticationException" name="WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="getPaymentInstrumentsForProducer">
      <wsdl:input message="tns:getPaymentInstrumentsForProducer" name="getPaymentInstrumentsForProducer"/>
      <wsdl:output message="tns:getPaymentInstrumentsForProducerResponse" name="getPaymentInstrumentsForProducerResponse"/>
      <!-- If communication error or any other SOAP problem occurs. -->
      <wsdl:fault message="tns:SOAPServerException" name="SOAPServerException"/>
      <!-- If the producerID is null. -->
      <wsdl:fault message="tns:DataConversionException" name="DataConversionException"/>
      <!-- If there are no Producers with the given producerID. -->
      <wsdl:fault message="tns:BadIdentifierException" name="BadIdentifierException"/>
      <wsdl:fault message="tns:WsiAuthenticationException" name="WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="createPaymentInstrumentOnProducer">
      <wsdl:input message="tns:createPaymentInstrumentOnProducer" name="createPaymentInstrumentOnProducer"/>
      <wsdl:output message="tns:createPaymentInstrumentOnProducerResponse" name="createPaymentInstrumentOnProducerResponse"/>
      <!-- If communication error or any other SOAP problem occurs. -->
      <wsdl:fault message="tns:SOAPServerException" name="SOAPServerException"/>
      <!-- If there are no Producers with the given producerID. -->
      <wsdl:fault message="tns:BadIdentifierException" name="BadIdentifierException"/>
      <!-- If the producerID is null. -->
      <wsdl:fault message="tns:DataConversionException" name="DataConversionException"/>
      <!-- If paymentInstrumentRecord.PublicId is not null (the PaymentInstrument already exists in the system)) -->
      <wsdl:fault message="tns:DataConversionException" name="DataConversionException"/>
      <!-- If paymentInstrumentRecord.OneTime is true -->
      <wsdl:fault message="tns:DataConversionException" name="DataConversionException"/>
      <wsdl:fault message="tns:WsiAuthenticationException" name="WsiAuthenticationException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PaymentInstrumentAPISoap12Binding" type="tns:PaymentInstrumentAPIPortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getPaymentInstrumentsForAccount">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="getPaymentInstrumentsForAccount">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPaymentInstrumentsForAccountResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPServerException">
        <soap12:fault name="SOAPServerException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DataConversionException">
        <soap12:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap12:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createPaymentInstrumentOnAccount">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="createPaymentInstrumentOnAccount">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="createPaymentInstrumentOnAccountResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPServerException">
        <soap12:fault name="SOAPServerException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap12:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DataConversionException">
        <soap12:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DataConversionException">
        <soap12:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DataConversionException">
        <soap12:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPaymentInstrumentsForProducer">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="getPaymentInstrumentsForProducer">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPaymentInstrumentsForProducerResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPServerException">
        <soap12:fault name="SOAPServerException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DataConversionException">
        <soap12:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap12:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createPaymentInstrumentOnProducer">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="createPaymentInstrumentOnProducer">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="createPaymentInstrumentOnProducerResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPServerException">
        <soap12:fault name="SOAPServerException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap12:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DataConversionException">
        <soap12:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DataConversionException">
        <soap12:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DataConversionException">
        <soap12:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PaymentInstrumentAPISoap11Binding" type="tns:PaymentInstrumentAPIPortType">
    <soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getPaymentInstrumentsForAccount">
      <soap11:operation style="document"/>
      <wsdl:input name="getPaymentInstrumentsForAccount">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPaymentInstrumentsForAccountResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPServerException">
        <soap11:fault name="SOAPServerException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DataConversionException">
        <soap11:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap11:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createPaymentInstrumentOnAccount">
      <soap11:operation style="document"/>
      <wsdl:input name="createPaymentInstrumentOnAccount">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="createPaymentInstrumentOnAccountResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPServerException">
        <soap11:fault name="SOAPServerException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap11:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DataConversionException">
        <soap11:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DataConversionException">
        <soap11:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DataConversionException">
        <soap11:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPaymentInstrumentsForProducer">
      <soap11:operation style="document"/>
      <wsdl:input name="getPaymentInstrumentsForProducer">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPaymentInstrumentsForProducerResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPServerException">
        <soap11:fault name="SOAPServerException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DataConversionException">
        <soap11:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap11:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createPaymentInstrumentOnProducer">
      <soap11:operation style="document"/>
      <wsdl:input name="createPaymentInstrumentOnProducer">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="createPaymentInstrumentOnProducerResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPServerException">
        <soap11:fault name="SOAPServerException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap11:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DataConversionException">
        <soap11:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DataConversionException">
        <soap11:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DataConversionException">
        <soap11:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaymentInstrumentAPI">
    <wsdl:port binding="tns:PaymentInstrumentAPISoap12Binding" name="PaymentInstrumentAPISoap12Port">
      <soap12:address location="http://localhost:8580/bc/ws/gw/webservice/bc/bc900/PaymentInstrumentAPI"/>
      <gwwsdl:address location="${bc}/ws/gw/webservice/bc/bc900/PaymentInstrumentAPI"/>
    </wsdl:port>
    <wsdl:port binding="tns:PaymentInstrumentAPISoap11Binding" name="PaymentInstrumentAPISoap11Port">
      <soap11:address location="http://localhost:8580/bc/ws/gw/webservice/bc/bc900/PaymentInstrumentAPI/soap11"/>
      <gwwsdl:address location="${bc}/ws/gw/webservice/bc/bc900/PaymentInstrumentAPI/soap11"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:message name="getPaymentInstrumentsForAccount">
    <wsdl:part element="tns:getPaymentInstrumentsForAccount" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getPaymentInstrumentsForAccountResponse">
    <wsdl:part element="tns:getPaymentInstrumentsForAccountResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="SOAPServerException">
    <wsdl:part element="tns:SOAPServerException" name="SOAPServerException"/>
  </wsdl:message>
  <wsdl:message name="DataConversionException">
    <wsdl:part element="tns:DataConversionException" name="DataConversionException"/>
  </wsdl:message>
  <wsdl:message name="BadIdentifierException">
    <wsdl:part element="tns:BadIdentifierException" name="BadIdentifierException"/>
  </wsdl:message>
  <wsdl:message name="WsiAuthenticationException">
    <wsdl:part element="tns:WsiAuthenticationException" name="WsiAuthenticationException"/>
  </wsdl:message>
  <wsdl:message name="createPaymentInstrumentOnAccount">
    <wsdl:part element="tns:createPaymentInstrumentOnAccount" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="createPaymentInstrumentOnAccountResponse">
    <wsdl:part element="tns:createPaymentInstrumentOnAccountResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getPaymentInstrumentsForProducer">
    <wsdl:part element="tns:getPaymentInstrumentsForProducer" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getPaymentInstrumentsForProducerResponse">
    <wsdl:part element="tns:getPaymentInstrumentsForProducerResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="createPaymentInstrumentOnProducer">
    <wsdl:part element="tns:createPaymentInstrumentOnProducer" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="createPaymentInstrumentOnProducerResponse">
    <wsdl:part element="tns:createPaymentInstrumentOnProducerResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="gw-authentication">
    <wsdl:part element="gwsoap:authentication" name="gw-authentication"/>
  </wsdl:message>
  <wsdl:message name="gw-locale">
    <wsdl:part element="gwsoap:locale" name="gw-locale"/>
  </wsdl:message>
</wsdl:definitions>