generated/wsi/local/gw/webservice/pc/pc900/community/ProducerAPI.wsdl

<?xml version="1.0"?>
<!-- Generated WSDL for gw.webservice.pc.pc900.community.ProducerAPI web service -->
<wsdl:definitions targetNamespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc900/community/ProducerAPI" name="ProducerAPI" xmlns:gwsoap="http://guidewire.com/ws/soapheaders" xmlns:gwwsdl="http://guidewire.com/pl/wsdl" xmlns:pogo="http://guidewire.com/pc/ws/gw/webservice/pc/pc900/community/datamodel/OrganizationDTO" xmlns:pogo2="http://guidewire.com/pc/ws/gw/webservice/pc/pc900/community/datamodel/GroupDTO" xmlns:pogo3="http://guidewire.com/pc/ws/gw/webservice/pc/pc900/community/datamodel/ProducerCodeDTO" xmlns:pogo4="http://guidewire.com/pc/ws/gw/webservice/pc/pc900/community/datamodel/AddressDTO" xmlns:pogo5="http://guidewire.com/pc/ws/gw/webservice/pc/pc900/community/datamodel/CommissionPlanDTO" xmlns:pogo6="http://guidewire.com/pc/typekey" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://guidewire.com/pc/ws/gw/webservice/pc/pc900/community/ProducerAPI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc900/community/ProducerAPI" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/ws/soapheaders" schemaLocation="../../../../../../../gw/xsd/guidewire/soapheaders.xsd"/>
      <xs:import namespace="http://guidewire.com/pc/typekey"/>
      <xs:import namespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc900/community/datamodel/CommissionPlanDTO"/>
      <xs:import namespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc900/community/datamodel/AddressDTO"/>
      <xs:import namespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc900/community/datamodel/ProducerCodeDTO"/>
      <xs:import namespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc900/community/datamodel/GroupDTO"/>
      <xs:import namespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc900/community/datamodel/OrganizationDTO"/>
      <!-- getCarrierOrganization() : OrganizationDTO -->
      <xs:element name="getCarrierOrganization">
        <xs:complexType/>
      </xs:element>
      <xs:element name="getCarrierOrganizationResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="pogo:OrganizationDTO" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="WsiAuthenticationException">
        <xs:complexType/>
      </xs:element>
      <!-- getOrganizationByPublicId(String) : OrganizationDTO -->
      <xs:element name="getOrganizationByPublicId">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="organizationID" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getOrganizationByPublicIdResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="pogo:OrganizationDTO" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- createOrganization(OrganizationDTO) : String -->
      <xs:element name="createOrganization">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="orgModel" type="pogo:OrganizationDTO" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="createOrganizationResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- updateOrganization(OrganizationDTO) -->
      <xs:element name="updateOrganization">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="orgModel" type="pogo:OrganizationDTO" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="updateOrganizationResponse">
        <xs:complexType/>
      </xs:element>
      <!-- getGroupByPublicId(String) : GroupDTO -->
      <xs:element name="getGroupByPublicId">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="groupID" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getGroupByPublicIdResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="pogo2:GroupDTO" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- addNewGroupToOrganization(String, GroupDTO) : String -->
      <xs:element name="addNewGroupToOrganization">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="orgPublicID" type="xs:string" minOccurs="0"/>
            <xs:element name="groupModel" type="pogo2:GroupDTO" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="addNewGroupToOrganizationResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- updateGroup(GroupDTO) -->
      <xs:element name="updateGroup">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="groupModel" type="pogo2:GroupDTO" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="updateGroupResponse">
        <xs:complexType/>
      </xs:element>
      <!-- getProducerCodeByPublicId(String) : ProducerCodeDTO -->
      <xs:element name="getProducerCodeByPublicId">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="producerCodeID" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getProducerCodeByPublicIdResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="pogo3:ProducerCodeDTO" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- addNewProducerCodeToOrganization(String, ProducerCodeDTO) : String -->
      <xs:element name="addNewProducerCodeToOrganization">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="orgPublicID" type="xs:string" minOccurs="0"/>
            <xs:element name="producerCodeModel" type="pogo3:ProducerCodeDTO" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="addNewProducerCodeToOrganizationResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- updateProducerCode(ProducerCodeDTO) -->
      <xs:element name="updateProducerCode">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="producerCodeModel" type="pogo3:ProducerCodeDTO" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="updateProducerCodeResponse">
        <xs:complexType/>
      </xs:element>
    </xs:schema>
    <xs:schema targetNamespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc900/community/datamodel/OrganizationDTO" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/pc/typekey"/>
      <xs:import namespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc900/community/datamodel/CommissionPlanDTO"/>
      <xs:import namespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc900/community/datamodel/AddressDTO"/>
      <xs:import namespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc900/community/datamodel/ProducerCodeDTO"/>
      <xs:import namespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc900/community/datamodel/GroupDTO"/>
      <xs:complexType name="OrganizationDTO" gw:deprecated="900 inter-app integration packages will be removed in PC11." xmlns:gw="http://guidewire.com/xsd">
        <xs:sequence>
          <xs:element name="Carrier" type="xs:boolean" minOccurs="0"/>
          <xs:element name="ContactPublicID" type="xs:string" minOccurs="0"/>
          <xs:element name="MasterAdmin" type="xs:boolean" minOccurs="0"/>
          <xs:element name="Name" type="xs:string" minOccurs="0"/>
          <xs:element name="ProducerStatus" type="xs:string" minOccurs="0"/>
          <xs:element name="PublicID" type="xs:string" minOccurs="0"/>
          <xs:element name="RootGroup" type="pogo2:GroupDTO" minOccurs="0"/>
          <xs:element name="Tier" type="xs:string" minOccurs="0"/>
          <xs:element name="Type" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema targetNamespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc900/community/datamodel/GroupDTO" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/pc/typekey"/>
      <xs:import namespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc900/community/datamodel/CommissionPlanDTO"/>
      <xs:import namespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc900/community/datamodel/AddressDTO"/>
      <xs:import namespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc900/community/datamodel/ProducerCodeDTO"/>
      <xs:import namespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc900/community/datamodel/OrganizationDTO"/>
      <xs:complexType name="GroupDTO" gw:deprecated="900 inter-app integration packages will be removed in PC11." xmlns:gw="http://guidewire.com/xsd">
        <xs:sequence>
          <xs:element name="BranchCode" type="xs:string" minOccurs="0"/>
          <xs:element name="Description" type="xs:string" minOccurs="0"/>
          <xs:element name="GroupType" type="xs:string" minOccurs="0"/>
          <xs:element name="LoadFactor" type="xs:int" minOccurs="0"/>
          <xs:element name="Name" type="xs:string" minOccurs="0"/>
          <xs:element name="ParentPublicID" type="xs:string" minOccurs="0"/>
          <xs:element name="PublicID" type="xs:string" minOccurs="0"/>
          <xs:element name="SecurityZonePublicID" type="xs:string" minOccurs="0"/>
          <xs:element name="SupervisorPublicID" type="xs:string" minOccurs="0"/>
          <xs:element name="WorldVisible" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema targetNamespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc900/community/datamodel/ProducerCodeDTO" elementFormDefault="qualified" xmlns:gw="http://guidewire.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/pc/typekey"/>
      <xs:import namespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc900/community/datamodel/CommissionPlanDTO"/>
      <xs:import namespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc900/community/datamodel/AddressDTO"/>
      <xs:import namespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc900/community/datamodel/GroupDTO"/>
      <xs:import namespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc900/community/datamodel/OrganizationDTO"/>
      <xs:complexType name="ProducerCodeDTO" gw:deprecated="900 inter-app integration packages will be removed in PC11.">
        <xs:sequence>
          <xs:element name="Address" type="pogo4:AddressDTO" minOccurs="0"/>
          <xs:element name="AppointmentDate" type="xs:dateTime" minOccurs="0" gw:type="java.util.Date"/>
          <xs:element name="BranchPublicID" type="xs:string" minOccurs="0"/>
          <xs:element name="Code" type="xs:string" minOccurs="0"/>
          <xs:element name="CommissionPlans" minOccurs="0" gw:viewas="array">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="Entry" type="pogo5:CommissionPlanDTO" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="Description" type="xs:string" minOccurs="0"/>
          <xs:element name="ParentPublicID" type="xs:string" minOccurs="0"/>
          <xs:element name="PreferredUnderwriterPublicID" type="xs:string" minOccurs="0"/>
          <xs:element name="ProducerStatus" type="xs:string" minOccurs="0"/>
          <xs:element name="PublicID" type="xs:string" minOccurs="0"/>
          <xs:element name="TerminationDate" type="xs:dateTime" minOccurs="0" gw:type="java.util.Date"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema targetNamespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc900/community/datamodel/AddressDTO" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/pc/typekey"/>
      <xs:import namespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc900/community/datamodel/CommissionPlanDTO"/>
      <xs:import namespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc900/community/datamodel/ProducerCodeDTO"/>
      <xs:import namespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc900/community/datamodel/GroupDTO"/>
      <xs:import namespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc900/community/datamodel/OrganizationDTO"/>
      <xs:complexType name="AddressDTO" gw:deprecated="900 inter-app integration packages will be removed in PC11." xmlns:gw="http://guidewire.com/xsd">
        <xs:sequence>
          <xs:element name="AddressLine1" type="xs:string" minOccurs="0"/>
          <xs:element name="AddressLine1Kanji" type="xs:string" minOccurs="0"/>
          <xs:element name="AddressLine2" type="xs:string" minOccurs="0"/>
          <xs:element name="AddressLine2Kanji" type="xs:string" minOccurs="0"/>
          <xs:element name="AddressLine3" type="xs:string" minOccurs="0"/>
          <xs:element name="AddressType" type="xs:string" minOccurs="0"/>
          <xs:element name="CEDEX" type="xs:boolean" minOccurs="0"/>
          <xs:element name="CEDEXBureau" type="xs:string" minOccurs="0"/>
          <xs:element name="City" type="xs:string" minOccurs="0"/>
          <xs:element name="CityKanji" type="xs:string" minOccurs="0"/>
          <xs:element name="Country" type="xs:string" minOccurs="0"/>
          <xs:element name="County" type="xs:string" minOccurs="0"/>
          <xs:element name="Description" type="xs:string" minOccurs="0"/>
          <xs:element name="PostalCode" type="xs:string" minOccurs="0"/>
          <xs:element name="PublicID" type="xs:string" minOccurs="0"/>
          <xs:element name="State" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema targetNamespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc900/community/datamodel/CommissionPlanDTO" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/pc/typekey"/>
      <xs:import namespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc900/community/datamodel/AddressDTO"/>
      <xs:import namespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc900/community/datamodel/ProducerCodeDTO"/>
      <xs:import namespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc900/community/datamodel/GroupDTO"/>
      <xs:import namespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc900/community/datamodel/OrganizationDTO"/>
      <xs:complexType name="CommissionPlanDTO" gw:deprecated="900 inter-app integration packages will be removed in PC11." xmlns:gw="http://guidewire.com/xsd">
        <xs:sequence>
          <xs:element name="CommissionPlanID" type="xs:string" minOccurs="0"/>
          <xs:element name="Currency" type="pogo6:Currency" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema targetNamespace="http://guidewire.com/pc/typekey" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc900/community/datamodel/CommissionPlanDTO"/>
      <xs:import namespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc900/community/datamodel/AddressDTO"/>
      <xs:import namespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc900/community/datamodel/ProducerCodeDTO"/>
      <xs:import namespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc900/community/datamodel/GroupDTO"/>
      <xs:import namespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc900/community/datamodel/OrganizationDTO"/>
      <xs:simpleType name="Currency">
        <xs:restriction base="xs:string">
          <xs:enumeration value="usd"/>
          <xs:enumeration value="eur"/>
          <xs:enumeration value="gbp"/>
          <xs:enumeration value="cad"/>
          <xs:enumeration value="aud"/>
          <xs:enumeration value="rub"/>
          <xs:enumeration value="jpy"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:portType name="ProducerAPIPortType">
    <wsdl:operation name="getCarrierOrganization">
      <wsdl:documentation>@deprecated: 900 inter-app integration packages will be removed in PC11.</wsdl:documentation>
      <wsdl:input name="getCarrierOrganization" message="tns:getCarrierOrganization"/>
      <wsdl:output name="getCarrierOrganizationResponse" message="tns:getCarrierOrganizationResponse"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="getOrganizationByPublicId">
      <wsdl:documentation>@deprecated: 900 inter-app integration packages will be removed in PC11.</wsdl:documentation>
      <wsdl:input name="getOrganizationByPublicId" message="tns:getOrganizationByPublicId"/>
      <wsdl:output name="getOrganizationByPublicIdResponse" message="tns:getOrganizationByPublicIdResponse"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="createOrganization">
      <wsdl:documentation>@deprecated: 900 inter-app integration packages will be removed in PC11.</wsdl:documentation>
      <wsdl:input name="createOrganization" message="tns:createOrganization"/>
      <wsdl:output name="createOrganizationResponse" message="tns:createOrganizationResponse"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="updateOrganization">
      <wsdl:documentation>@deprecated: 900 inter-app integration packages will be removed in PC11.</wsdl:documentation>
      <wsdl:input name="updateOrganization" message="tns:updateOrganization"/>
      <wsdl:output name="updateOrganizationResponse" message="tns:updateOrganizationResponse"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="getGroupByPublicId">
      <wsdl:documentation>@deprecated: 900 inter-app integration packages will be removed in PC11.</wsdl:documentation>
      <wsdl:input name="getGroupByPublicId" message="tns:getGroupByPublicId"/>
      <wsdl:output name="getGroupByPublicIdResponse" message="tns:getGroupByPublicIdResponse"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="addNewGroupToOrganization">
      <wsdl:documentation>@deprecated: 900 inter-app integration packages will be removed in PC11.</wsdl:documentation>
      <wsdl:input name="addNewGroupToOrganization" message="tns:addNewGroupToOrganization"/>
      <wsdl:output name="addNewGroupToOrganizationResponse" message="tns:addNewGroupToOrganizationResponse"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="updateGroup">
      <wsdl:documentation>@deprecated: 900 inter-app integration packages will be removed in PC11.</wsdl:documentation>
      <wsdl:input name="updateGroup" message="tns:updateGroup"/>
      <wsdl:output name="updateGroupResponse" message="tns:updateGroupResponse"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="getProducerCodeByPublicId">
      <wsdl:documentation>@deprecated: 900 inter-app integration packages will be removed in PC11.</wsdl:documentation>
      <wsdl:input name="getProducerCodeByPublicId" message="tns:getProducerCodeByPublicId"/>
      <wsdl:output name="getProducerCodeByPublicIdResponse" message="tns:getProducerCodeByPublicIdResponse"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="addNewProducerCodeToOrganization">
      <wsdl:documentation>@deprecated: 900 inter-app integration packages will be removed in PC11.</wsdl:documentation>
      <wsdl:input name="addNewProducerCodeToOrganization" message="tns:addNewProducerCodeToOrganization"/>
      <wsdl:output name="addNewProducerCodeToOrganizationResponse" message="tns:addNewProducerCodeToOrganizationResponse"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="updateProducerCode">
      <wsdl:documentation>@deprecated: 900 inter-app integration packages will be removed in PC11.</wsdl:documentation>
      <wsdl:input name="updateProducerCode" message="tns:updateProducerCode"/>
      <wsdl:output name="updateProducerCodeResponse" message="tns:updateProducerCodeResponse"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProducerAPISoap12Binding" type="tns:ProducerAPIPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="getCarrierOrganization">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="getCarrierOrganization">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
        <soap12:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCarrierOrganizationResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getOrganizationByPublicId">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="getOrganizationByPublicId">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
        <soap12:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getOrganizationByPublicIdResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createOrganization">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="createOrganization">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
        <soap12:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
      </wsdl:input>
      <wsdl:output name="createOrganizationResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateOrganization">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="updateOrganization">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
        <soap12:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateOrganizationResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getGroupByPublicId">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="getGroupByPublicId">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
        <soap12:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getGroupByPublicIdResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addNewGroupToOrganization">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="addNewGroupToOrganization">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
        <soap12:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
      </wsdl:input>
      <wsdl:output name="addNewGroupToOrganizationResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateGroup">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="updateGroup">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
        <soap12:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateGroupResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProducerCodeByPublicId">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="getProducerCodeByPublicId">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
        <soap12:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getProducerCodeByPublicIdResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addNewProducerCodeToOrganization">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="addNewProducerCodeToOrganization">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
        <soap12:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
      </wsdl:input>
      <wsdl:output name="addNewProducerCodeToOrganizationResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateProducerCode">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="updateProducerCode">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
        <soap12:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateProducerCodeResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProducerAPISoap11Binding" type="tns:ProducerAPIPortType">
    <soap11:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="getCarrierOrganization">
      <soap11:operation style="document"/>
      <wsdl:input name="getCarrierOrganization">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
        <soap11:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCarrierOrganizationResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getOrganizationByPublicId">
      <soap11:operation style="document"/>
      <wsdl:input name="getOrganizationByPublicId">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
        <soap11:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getOrganizationByPublicIdResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createOrganization">
      <soap11:operation style="document"/>
      <wsdl:input name="createOrganization">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
        <soap11:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
      </wsdl:input>
      <wsdl:output name="createOrganizationResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateOrganization">
      <soap11:operation style="document"/>
      <wsdl:input name="updateOrganization">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
        <soap11:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateOrganizationResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getGroupByPublicId">
      <soap11:operation style="document"/>
      <wsdl:input name="getGroupByPublicId">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
        <soap11:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getGroupByPublicIdResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addNewGroupToOrganization">
      <soap11:operation style="document"/>
      <wsdl:input name="addNewGroupToOrganization">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
        <soap11:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
      </wsdl:input>
      <wsdl:output name="addNewGroupToOrganizationResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateGroup">
      <soap11:operation style="document"/>
      <wsdl:input name="updateGroup">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
        <soap11:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateGroupResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProducerCodeByPublicId">
      <soap11:operation style="document"/>
      <wsdl:input name="getProducerCodeByPublicId">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
        <soap11:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getProducerCodeByPublicIdResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addNewProducerCodeToOrganization">
      <soap11:operation style="document"/>
      <wsdl:input name="addNewProducerCodeToOrganization">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
        <soap11:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
      </wsdl:input>
      <wsdl:output name="addNewProducerCodeToOrganizationResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateProducerCode">
      <soap11:operation style="document"/>
      <wsdl:input name="updateProducerCode">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
        <soap11:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateProducerCodeResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProducerAPI">
    <wsdl:port name="ProducerAPISoap12Port" binding="tns:ProducerAPISoap12Binding">
      <soap12:address location="local:///gw/webservice/pc/pc900/community/ProducerAPI"/>
    </wsdl:port>
    <wsdl:port name="ProducerAPISoap11Port" binding="tns:ProducerAPISoap11Binding">
      <soap11:address location="local:///gw/webservice/pc/pc900/community/ProducerAPI/soap11"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:message name="getCarrierOrganization">
    <wsdl:part name="parameters" element="tns:getCarrierOrganization"/>
  </wsdl:message>
  <wsdl:message name="getCarrierOrganizationResponse">
    <wsdl:part name="parameters" element="tns:getCarrierOrganizationResponse"/>
  </wsdl:message>
  <wsdl:message name="WsiAuthenticationException">
    <wsdl:part name="WsiAuthenticationException" element="tns:WsiAuthenticationException"/>
  </wsdl:message>
  <wsdl:message name="getOrganizationByPublicId">
    <wsdl:part name="parameters" element="tns:getOrganizationByPublicId"/>
  </wsdl:message>
  <wsdl:message name="getOrganizationByPublicIdResponse">
    <wsdl:part name="parameters" element="tns:getOrganizationByPublicIdResponse"/>
  </wsdl:message>
  <wsdl:message name="createOrganization">
    <wsdl:part name="parameters" element="tns:createOrganization"/>
  </wsdl:message>
  <wsdl:message name="createOrganizationResponse">
    <wsdl:part name="parameters" element="tns:createOrganizationResponse"/>
  </wsdl:message>
  <wsdl:message name="updateOrganization">
    <wsdl:part name="parameters" element="tns:updateOrganization"/>
  </wsdl:message>
  <wsdl:message name="updateOrganizationResponse">
    <wsdl:part name="parameters" element="tns:updateOrganizationResponse"/>
  </wsdl:message>
  <wsdl:message name="getGroupByPublicId">
    <wsdl:part name="parameters" element="tns:getGroupByPublicId"/>
  </wsdl:message>
  <wsdl:message name="getGroupByPublicIdResponse">
    <wsdl:part name="parameters" element="tns:getGroupByPublicIdResponse"/>
  </wsdl:message>
  <wsdl:message name="addNewGroupToOrganization">
    <wsdl:part name="parameters" element="tns:addNewGroupToOrganization"/>
  </wsdl:message>
  <wsdl:message name="addNewGroupToOrganizationResponse">
    <wsdl:part name="parameters" element="tns:addNewGroupToOrganizationResponse"/>
  </wsdl:message>
  <wsdl:message name="updateGroup">
    <wsdl:part name="parameters" element="tns:updateGroup"/>
  </wsdl:message>
  <wsdl:message name="updateGroupResponse">
    <wsdl:part name="parameters" element="tns:updateGroupResponse"/>
  </wsdl:message>
  <wsdl:message name="getProducerCodeByPublicId">
    <wsdl:part name="parameters" element="tns:getProducerCodeByPublicId"/>
  </wsdl:message>
  <wsdl:message name="getProducerCodeByPublicIdResponse">
    <wsdl:part name="parameters" element="tns:getProducerCodeByPublicIdResponse"/>
  </wsdl:message>
  <wsdl:message name="addNewProducerCodeToOrganization">
    <wsdl:part name="parameters" element="tns:addNewProducerCodeToOrganization"/>
  </wsdl:message>
  <wsdl:message name="addNewProducerCodeToOrganizationResponse">
    <wsdl:part name="parameters" element="tns:addNewProducerCodeToOrganizationResponse"/>
  </wsdl:message>
  <wsdl:message name="updateProducerCode">
    <wsdl:part name="parameters" element="tns:updateProducerCode"/>
  </wsdl:message>
  <wsdl:message name="updateProducerCodeResponse">
    <wsdl:part name="parameters" element="tns:updateProducerCodeResponse"/>
  </wsdl:message>
  <wsdl:message name="gw-authentication">
    <wsdl:part name="gw-authentication" element="gwsoap:authentication"/>
  </wsdl:message>
  <wsdl:message name="gw-locale-only">
    <wsdl:part name="gw-locale-only" element="gwsoap:gw_locale"/>
  </wsdl:message>
  <wsdl:message name="gw-language-only">
    <wsdl:part name="gw-language-only" element="gwsoap:gw_language"/>
  </wsdl:message>
  <wsdl:message name="gw-transaction-id">
    <wsdl:part name="gw-transaction-id" element="gwsoap:transaction_id"/>
  </wsdl:message>
  <wsdl:message name="gw-traceability-id">
    <wsdl:part name="gw-traceability-id" element="gwsoap:traceability_id"/>
  </wsdl:message>
</wsdl:definitions>