generated/gw/lob/common/modelmapping/schema/model-mapping-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="ModelMappingConfig">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="AbstractConfigType"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="AbstractConfigType" abstract="true">
        <xs:sequence>
            <xs:element name="Container" type="ContainerType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ContainerType">
        <xs:sequence>
            <xs:element name="Version" type="BaseVersionType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="Property" type="PropertyType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="type" type="ContainerTypeEnum" use="required"/>
    </xs:complexType>

    <xs:complexType name="PropertyType">
        <xs:sequence>
            <xs:element name="Version" type="BaseVersionType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="BaseVersionType">
        <xs:sequence>
            <xs:element name="Jurisdiction" type="xs:string" minOccurs="0"/>
            <xs:element name="EffectiveDate" type="xs:date"/>
            <xs:element name="ExpiryDate" type="xs:date" minOccurs="0"/>
            <xs:element name="Available" type="xs:boolean" minOccurs="0"/>
            <xs:element name="Path" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="ContainerTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Coverable"/>
            <xs:enumeration value="Clause"/>
            <xs:enumeration value="Schedule"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>